<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" type="image/x-icon" href="../favico.ico" />
    <title>UPSLP | Reportes</title>

    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale = 1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <link rel="stylesheet" href="{{url_for('static', filename='css/login7.css')}}">


</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><img src="../upslp.jpg" alt="UPSLP" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="">Reportes de Tutoria<span class="sr-only">(current)</span></a>
                </li>
        </div>
    </nav>
    <div class="container p-4">
        <div class="jumbotron">
            <div class="login">
                <div class="login-triangle"></div>

                <h2 class="login-header">Ingreso</h2>

                <form class="login-container" action="/log_attempt" method="POST">
                    <p></p>
                    <h6>Correo Institucional</h6>
                    <p><input type="email" name="correo" placeholder="ejemplo_tutor@upslp.edu.mx"></p>
                    <p></p>
                    <h6>Fecha de Consulta</h6>
                    <p><input type="date" name="current_date"></p>
                    <p><input type="submit" value="Log in"></p>
                </form>
            </div>
        </div>
    </div>
</body>

</html>