{% extends 'layout.html' %} {% block content %}
<div class="login">
    <div class="login-triangle"></div>

    <h2 class="login-header">Nuevo Tutelado</h2>

    <form class="login-container" action="/insert" method="POST">
        <p></p>
        <h6>Nombre del Tutelado</h6>
        <p><input type="name" name="nombre" placeholder="Nombre(s) Paterno Materno"></p>
        <p></p>
        <h6>Carrera</h6>
        <p><select name="carrera_select" class="browser-default custom-select">
            
            {% for carrera in carreras %}
                <option value="{{ carrera }}">{{ carrera }}</option>
            {% endfor %}
                
        </select></p>
        <p></p>
        <h6>Semestre</h6>
        <p><select name="semestre_select" class="browser-default custom-select">
            
            {% for semestre in semestres %}
                <option value="{{ semestre }} SEMESTRE">{{ semestre }} SEMESTRE</option>
            {% endfor %}
                
        </select></p>
        <p></p>
        <h6>Grupo</h6>
        <p><select name="grupo_select" class="browser-default custom-select">
            
            {% for grupo in grupos %}
                <option value="{{ grupo }}">{{ grupo }}</option>
            {% endfor %}
                
        </select></p>
        <p></p>
        <h6>Promedio del Bachillerato</h6>
        <p><input type="number" name="promedio" min="0" max="10.0" step="0.1"></p>
        <p></p>
        <h6>Reprobadas</h6>
        <p><input type="number" name="reprobadas" min="0" max="7"></p>
        <p></p>
        <h6>Firma</h6>
        <p><input type="name" name="firma" placeholder="Ingresa tu firma"></p>
        <p></p>
        <h6>Fecha de Tutoría</h6>
        <p><input type="date" name="fecha_tutoria"></p>
        <h6>Horario (23:59)</h6>
        <p><input type="time" name="hora_tutoria"></p>
        <p><input type="submit" value="Ingresar Nuevo"></p>
    </form>
</div>
{% endblock %}