<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale = 1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

</head>

<body>

    <div class="jumbotron">
        <p>Tutor:&nbsp;{{nombre}} {{paterno}} {{materno}}</p>
        <p>Fecha:&nbsp;{{ current_date }}</p>
        <div class="col-md-7">
            <table class="table table-bordered bg-white table-bg table-hover">
                <thead class="bg-warning">
                    <tr>
                        <td>N°</td>
                        <td>Nombre del estudiante</td>
                        <td>Carrera</td>
                        <td>Semestre</td>
                        <td>Grupo</td>
                        <td>Promedio Bachillerato</td>
                        <td>Materias Reprobadas</td>
                        <td>Firma</td>
                        <td>Fecha</td>
                        <td>Horario</td>
                    </tr>
                </thead>
                <tbody>
                    {% for tutelado in tutelados %}
                    <tr>
                        <td>{{ tutelado.0 }}</td>
                        <td>{{ tutelado.1 }}</td>
                        <td>{{ tutelado.2 }}</td>
                        <td>{{ tutelado.3 }}</td>
                        <td>{{ tutelado.4 }}</td>
                        <td>{{ tutelado.5 }}</td>
                        <td>{{ tutelado.6 }}</td>
                        <td>{{ tutelado.7 }}</td>
                        <td>{{ tutelado.8 }}</td>
                        <td>{{ tutelado.9 }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>